<h1>Welcome to the Car Simulator</h1>
<!-- taken from the routes page to direct the path -->
<form method="get" action="cars/create">
  <input type="text" name="make" placeholder="make"/>
  <input type="text" name="year" placeholder="year"/>
  <input type="submit" value="Simulate Car"/>
</form>
